<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Catálogo | CarStore</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}">
</head>
<body class="bg-light">

<div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-4">
  <h2 class="mb-4 text-center">Nosso Catálogo de Veículos</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" th:each="car : ${cars}">
      <div class="card h-100 shadow-sm border-0">

        <img src="https://images.pexels.com/photos/37578168/pexels-photo-37578168.jpeg" class="card-img-top" alt="Imagem do Carro">

        <div class="card-body">
          <h5 class="card-title fw-bold" th:text="${car.name}">Nome do Carro</h5>
          <h6 class="card-subtitle mb-3 text-muted" th:text="${car.brand}">Marca</h6>

          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item px-0">
              <i class="fa-solid fa-palette text-secondary"></i> <strong>Cor:</strong> <span th:text="${car.color}"></span>
            </li>
          </ul>
        </div>

        <div class="card-footer bg-white border-0 text-center pb-3">
          <button class="btn btn-outline-dark w-100">Ver Detalhes</button>
        </div>

      </div>
    </div>

  </div>

</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>